[submodule "CS 341/Ref/CS341-spring-2018"]
	path = CS 341/Ref/CS341-spring-2018
	url = https://github.com/y87feng/CS341-spring-2018
[submodule "CS 246/Ref/cs246e-notes"]
	path = CS 246/Ref/cs246e-notes
	url = https://github.com/quanpham0805/cs246e-notes
[submodule "CS 246/Ref/2015"]
	path = CS 246/Ref/2015
	url = https://github.com/bryan-cho/CS246
